<%= simple_form_for [@project, @task] do |f| %>
  <%= f.input :name, input_html: { class: "mb-3" }, label: "Titre de la tâche" %>
  <%= f.input :text, input_html: { class: "tinymce" }, label: false %>
  <%= tinymce %>
  <div class="mt-3">
    <%= f.input :date %>
  </div>
  <%= f.submit value: "Modifier", class: 'btn btn-primary mt-3' %>
<% end %>
