<div class="card">
  <div class="card-body">
    <h2 class='card-title d-flex justify-content-between mb-4'>
      <span><%= current_user.projects.count %> projet<%= "s" if current_user.projects.count > 1 %></span>
      <%= link_to "Créer un projet", new_project_path, class: 'btn btn-primary' %>
    </h2>

    <% @projects.each do |project| %>
      <% if project.user == current_user %>
        <%= link_to project, class: 'text-decoration-none' do %>
          <div class="card project-card mb-3">
            <div class="card-body pb-1">
              <h5 class='card-title text-dark'><b><%= project.name %></b></h5>
              <p class='text-secondary'><%= project.tasks.count %> tâche<%= "s" if project.tasks.count > 1 %></p>

              <%= link_to edit_project_path(project), class: 'edit-icon' do %><i class="fa fa-edit"></i><% end %>
              <%= link_to project, class: 'delete-icon', data: { confirm: 'Êtes-vous sûr de supprimer ce projet et les tâches qu\'il contient ?' }, method: :delete do%><i class="fa fa-trash"></i><% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
